.heading-container{
    background: url(../../Assets/Front-Page/tagline.jpg);
    padding: 5% 15% 5% 10%;
}
.gallery-title{
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-weight: bold;
    font-size: large;
}
.gallery-heading{
    color: var(--backgroundColor);
    padding: 0% 50% 0% 0%;
}
.img-container{
    margin-top: 2%;
    display: block;
    margin: auto;
}
.gallery-img{
    width: 23%;
    height: 25vh;
    margin: 1%;
    border-radius: 5px;
}
@media only screen and (max-device-width: 768px){
.gallery-heading{
    padding: 0%;
    text-align: center;
    font-size: medium;
}
.gallery-title{
    padding: 0;
    display: block;
    margin: auto;
}
    .gallery-img{
        width: 48%;
       
    }
}