/* :root {
  --blue: #25257c;
  --yellow: #FACA28;
  --gradient: linear-gradient(to right, #25257c 0%, #FACA28 100%);
  --leftgradient: linear-gradient(to right, #FACA28 0%, #25257c 100%);
  --smallText: #a8a8a8;
  --mediumText: #dfdfdf;
  --buttonColor: #3d3d3d;
  --backgroundColor: #f9f9f9;
  --white: #ffffff;
  --dark: #252525;
  --grey: #4a4a4a;
  --endFooter: #2b2b2b;
} */
.learningpath-container {
  background: var(--dark);
  padding: 2%;
}

.learning-card {
  padding: 2% 3% 10% 3%;
  border-radius: 10px;
}

.learning-img {
  width: 200px;
  height: 150px;
  margin: auto;
  margin-left: 15%;
}

.learning-course-title {
  text-align: center;
  background: var(--leftgradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.learning-video-weeks {
  display: flex;
}

.learning-videos {
  padding: 10% 1% 10% 1% ;
  margin-left: 10%;

}

.learning-durtion-weeks {
  font-size: 25px;
  text-align: center;
  background: var(--leftgradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.learning-duration {
  text-align: center;
  font-size: medium;
  font-weight: 500;
  color: var(--smallText);
}

.learning-course-videos {
  font-size: 25px;
  text-align: center;
  background: var(--leftgradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.learning-video {
  text-align: center;
  font-size: medium;
  font-weight: 500;
  color: var(--smallText);
}

.course-stat-btn {
  padding: 3% 10% 3% 10%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-left: 23%;
  border: none;
  background: none;
  background: var(--gradient);
  cursor: pointer;
  border-radius: 10px;
  color: var(--white);
  text-decoration: none;
}

.course-stat-btn:hover {
  background: var(--leftgradient);
}