.forget-container {
    background: url(../../Assets//Front-Page//tagline.jpg);
    width: 40%;
    height: 50vh;
    /* background-color:white; */
    text-align: center;
    margin: auto;
    border-radius: 20px;
    padding-top: 1%;
  }
  .fotget-close{
    color: white;
    background: none;
    font-size: 25px;
    margin-left:90%;
    cursor: pointer;
  }
  .signup-title {
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: large;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: auto;
  }
.forget-text{
    color: white;
    padding: 2% 15% 2% 15%;
    font-size: small;
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.verifyemail-btn{
    font-weight: 700;
    font-size: small;
    margin: auto;
    display: block;
    padding: 1% 8% 1% 8%;
    background: var(--gradient);
    border: none;
    border-radius: 5px;
}
.verifyemail-btn:hover{
     cursor: pointer;
    background: var(--leftgradient);
}
.forgot-password{
    color:blue;
    font-size: small;
    margin-left: 20%;
    background: none;
  }
  .forgot-password:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .forget-box{
    margin-top: 10%;
  }